// Variables globales para colores
:root {
  --gray-light: #BABABB;
  --gray-main: #6F6F70;
  --gray-dark: #1E1E1F;
  --success: #3A823D;
  --warning: #FA8B0C;
  --turquoise-extralight: #DAF4FB;
  --blue-violet-dark: #3749B3;
  --blue-violet-extralight: #E8ECFF;
  --blue-violet-a11y: #5F6AB0;
  --white: #FFF;
  --table-border-radius: 12px;
  --table-border-width: 1px;
}

// Variables SCSS para uso en archivos .scss
$gray-light: #BABABB;
$gray-main: #6F6F70;
$gray-dark: #1E1E1F;
$success: #3A823D;
$warning: #FA8B0C;
$turquoise-extralight: #DAF4FB;
$blue-violet-dark: #3749B3;
$blue-violet-extralight: #E8ECFF;
$blue-violet-a11y: #5F6AB0;
$white: #FFF;
$table-border-radius: 12px;
$table-border-width: 1px;
