.hexadash-top-menu {
  @apply hidden;
  ul li {
    @apply relative;
    &:not(:last-child) {
      @apply me-[34px];
    }

    &:hover > .subMenu {
      @apply top-[65px] opacity-100 visible;
    }
    .parent-icon{
      @apply absolute end-[15px] top-1/2 transform -translate-y-1/2 text-[10px] text-light dark:text-white/60 ease-in-out duration-300 transition-all;
    }
    a {
      @apply text-[14px] flex items-center font-medium text-theme-gray dark:text-white/60 relative w-full;

      .menuItem {
        @apply flex items-center justify-center w-[18px] h-[18px] text-[10px] font-bold absolute end-[52px] top-1/2 transform -translate-y-1/2 leading-[1] rounded-[3px];
      }
    }
    > ul li {
      @apply flex items-center relative me-0 pe-0;
      &:hover {
        >a{
          @apply text-primary dark:text-white/[.87] bg-primary/[.06] dark:bg-white/10 ps-[40px];
        }
        .parent-icon{
          @apply text-primary dark:text-white/[.87]  translate-y-[-50%] rotate-[-93deg];
        }
      }
      a {
        @apply font-normal px-[30px] py-0 leading-[3] text-light dark:text-white/60 ease-in-out duration-300 transition-all;
        &.active{
          @apply text-primary dark:text-white/[.87] bg-primary/[.06] dark:bg-white/10 ps-[40px];
        }
      }

      &:hover .subMenu {
        @apply top-0 start-[250px];
      }
    }
  }

  .subMenu {
    @apply w-[250px] bg-white dark:bg-[#010413] rounded-6 absolute start-0 top-[80px] py-[12px] opacity-0 invisible transition-all duration-300 ease-in-out z-[98] shadow-[0_15px_40px_rgba(82,63,105,0.15)];

    .subMenu {
      @apply w-[250px] bg-white dark:bg-[#010413] start-[250px] top-0 py-[12px] opacity-0 invisible transition-all duration-300 ease-in-out z-[98] shadow-[0_15px_40px_rgba(82,63,105,0.15)];
    }
  }

  > ul > li {
    a.active {
      @apply text-primary dark:text-white/[.87];

      &:before {
        @apply text-primary dark:text-white/[.87];
      }
    }
  }
  &.topMenu-active{
    @apply flex;
  }
}

// Custom avatar circle styles
.custom-avatar-circle {
  width: 32px !important;
  height: 32px !important;
  background-color: #5F6AB0 !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

// Header dropdown shadow and positioning customization
::ng-deep .ant-dropdown {
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.15), 0 2px 8px rgba(0, 0, 0, 0.1) !important;
  margin-top: 0 !important; // Override the default 6px margin-top
  border-radius: 12px !important; // Round the dropdown
}

// Round the dropdown menu content
::ng-deep .ant-dropdown-menu {
  border-radius: 12px !important;
  overflow: hidden !important;
}