/* Estilos específicos para el componente de reportes */
.pagination-centered ::ng-deep .ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.pagination-centered ::ng-deep .ant-pagination .ant-pagination-options {
  display: none;
}
